body {
    display: flex;
}

.card{
    width: 400px;
    height: 650px;
    background-color: burlywood;
    border-radius: 20px;
    margin: 10px;
    transition: 0.5s;
}

.card:hover{
    width: 400px;
    height: 690px;
    background-color: burlywood;
    border-radius: 20px;
    margin: 10px;
    transition: 0.5s;
}

.photo {
    height: 40%;
    padding: 30px;
    display: flex;
    transition: 0.5s;
}

.photo:hover {
    height: 50%;
    padding: 20px;
    display: flex;
    transition: 0.5s;
}

.info {
    height: 40%;
    padding: 30px;
}

img {
    display: block;
    margin: 0 auto;
    border-radius: 20px;
}

